$colorPrimary: #7380ec;
$colorDanger: #ff7782;
$colorSucccess: #41f1b6;
$colorWarning: #ffbb55;
$infoDark: #7d8da1;
$infoLight: #dce1eb;
$colorDark: #363949;
$colorLight: rgba(132, 139, 200, 0.18);
$primaryVariant: #111e88;
$darkVariant: #677483;
$background: #f6f6f9;
$shadow: 0 2rem 3rem $colorLight;
$cardBorderRadius: 2rem;
$cardPadding: 1.8rem;
$white: #fff;

// theme
$background: #181a1e;
$white: #202528;
$colorDark: #edeffd;
$darkVariant: #a3bdcc;
$colorLight: rgba(0, 0, 0, 0.4);
$shadow: 0 2rem 3rem $colorLight;
