@import "./variables";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

// .themeVariables {
// $background:$background;
// $white: $white;
// $colorDark:$colorDark;
// $darkVariant:$darkVariant;
// $colorLight:$colorLight;
// $shadow:$shadow;

// }
.themeVariables {
// $background:#181a1e; 1
// $white: #202528; 
// $colorDark:#edeffd;
// $darkVariant:#a3bdcc;
// $colorLight: rgba(0, 0, 0, 0.4);
// $shadow: 0 2rem 3rem $colorLight;
background-color: #181a1e;
color: #edeffd;
p{
    color: #a3bdcc;
}
.sidebar{
    background-color: #202528;
}

main{
    .date{
        color:  rgba(0, 0, 0, 0.4);
         input[type="date"]{
             color: #edeffd;
         }
    }

    .insights > div{
        background-color: #202528;
        box-shadow:  0 2rem 3rem $colorLight;
        span{
            color: #202528;
        }
    }
    table{
    background-color: #202528 !important;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
}
}
.end{
    .top{
         @media screen and (max-width: 768px){

             background-color: #202528;
         }
    }
    .notifications{
         background-color: #202528 !important;
         b{
             color: #edeffd;
         }
    }
    .salesAnalytics > div{
        background-color: #202528;
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
        .icon{
            color: #202528;
        }
    }
    .addproduct:hover{
         color: #202528 !important;
    }
}

}
html {
  font-size: 14px;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 0.88rem;
  background-color: $background;
  overflow-x: hidden;
  color: $colorDark;
  user-select: none;
  .container {
    display: grid;

    margin: 0 auto;
    width: 96%;
    grid-template-columns: 14rem auto 20rem;
    gap: 1.8rem;
    @media screen and (max-width: 1200px) {
      width: 94%;
      grid-template-columns: 7rem auto 20rem;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }
  a {
    color: $colorDark;
  }
  img {
    width: 100%;
  }
  h1 {
    font-weight: 800;
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 0.87rem;
    font-weight: 500;
  }
  h4 {
    font-size: 0.8rem;
  }
  h5 {
    font-size: 0.77rem;
  }
  small {
    font-size: 0.75rem;
  }
  .warning {
    color: $colorWarning !important;
  }
  .primary {
    color: $colorPrimary !important;
  }
  .danger {
    color: $colorDanger !important;
  }
  .success {
    color: $colorSucccess !important;
  }
  .profilepic {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .mutedtext {
    color: $infoDark;
  }
  p {
    color: $darkVariant;
  }
  b {
    color: $colorDark;
  }

  aside {
    height: 100vh;
    @media screen and (max-width: 768px) {
      position: fixed;
      left: -100%;
      background-color: $white;
      width: 18rem;
      z-index: 3;
      box-shadow: 1rem 3rem 4rem $colorLight;
      height: 100vh;
      padding-right: $cardPadding;
      display: none;
      animation: showMenu 400ms ease forwards;
    }
    .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.4rem;

      div:first-child {
        display: flex;
        gap: 0.8rem;
        @media screen and (max-width: 768px) {
          margin-left: 1rem;
        }
        h2 {
          @media screen and (max-width: 1200px) {
            display: none;
          }
          @media screen and (max-width: 768px) {
            display: inline;
          }
        }
      }
      div:nth-child(2) {
        display: none;
        @media screen and (max-width: 768px) {
          display: inline;
          cursor: pointer;
        }
      }
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    .sidebar {
      background-color: $white;
      display: flex;
      flex-direction: column;
      height: 86vh;
      position: relative;
      top: 3rem;
      @media screen and (max-width: 1200px) {
        background-color: transparent;
        height: auto;
      }

      a {
        display: flex;
        color: $infoDark;
        gap: 1rem;
        align-items: center;
        height: 3.7rem;
        margin-left: 2rem;
        position: relative;
        transition: all 300ms ease;
        @media screen and (max-width: 1200px) {
          width: 5.6rem;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
          height: 3.4rem;
        }
        span {
          font-size: 1.6rem;
          transition: all 300ms ease;
        }
        h3 {
          @media screen and (max-width: 1200px) {
            display: none;
          }
          @media screen and (max-width: 768px) {
            display: inline;
          }
        }
      }
      a:hover {
        color: $colorPrimary;
        span {
          margin-left: 1rem;
        }
      }
      a:last-child {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        @media screen and (max-width: 1200px) {
          position: relative;
          margin-top: 1.8rem;
        }
        //    @media screen and (max-width:768px){
        //        position: absolute;
        //        bottom: 5rem;
        //    }
      }
      a.active {
        background-color: $colorLight;
        color: $colorPrimary;
        margin-left: 0;
        span {
          color: $colorPrimary;
          margin-left: calc(1rem - 3px);
        }
      }
      a.active::before {
        content: "";
        width: 6px;
        height: 100%;
        background-color: $colorPrimary;
      }
      .msgcount {
        background-color: $colorDanger;
        color: #fff;
        padding: 2px 6px;
        font-size: 11px;
        border-radius: 0.4rem;
      }
    }
  }
  main {
    margin-top: 1.4rem;
    @media screen and (max-width: 768px) {
      margin-top: 8rem;
      padding: 0 1rem;
    }
    .date {
      background-color: $colorLight;
      display: inline-block;
      border-radius: 0.4rem;
      margin-top: 1rem;
      padding: 0.5rem 1.6rem;
      input[type="date"] {
        background-color: transparent;
        color: $colorDark;
        border: none;
      }
    }
    .insights {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.6rem;
      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
        gap: 0;
      }
      > div {
        background-color: $white;
        padding: $cardPadding;
        border-radius: $cardBorderRadius;
        margin-top: 1rem;
        box-shadow: $shadow;
        transition: all 300ms ease;
        span {
          font-size: 2rem;
          color: $white;

          padding: 0.5rem;
          border-radius: 50%;
        }
        .middle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            margin: 1rem 0 0 0.6rem;
            font-size: 1rem;
          }
          .right {
            position: relative;
            width: 92px;
            height: 92px;
            border-radius: 50%;
            svg {
              width: 7rem;
              height: 7rem;
              circle {
                fill: none;
                stroke: $colorPrimary;
                stroke-width: 14;
                stroke-linecap: round;
                transform: translate(5px, 5px);
              }
            }
            .percent {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        small {
          margin-top: 1.3rem;
          display: block;
        }
      }
      > div:hover {
        box-shadow: none;
      }
      .sales {
        span {
          background-color: $colorPrimary;
        }
        svg {
          circle {
            stroke-dashoffset: -30;
            stroke-dasharray: 200;
          }
        }
      }
      .expenses {
        span {
          background-color: $colorDanger;
        }
        circle {
          stroke-dashoffset: 20;
          stroke-dasharray: 80;
        }
      }
      .income {
        span {
          background-color: $colorSucccess;
        }
        circle {
          stroke-dashoffset: 35;
          stroke-dasharray: 110;
        }
      }
    }
    .orders {
      margin-top: 2rem;
      @media screen and (max-width: 1200px) {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
      }
      @media screen and (max-width: 768px) {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
      }
      h2 {
        margin-bottom: 0.8rem;
      }
      table {
        background-color: $white;
        width: 100%;
        border-radius: $cardBorderRadius;
        padding: $cardPadding;
        text-align: center;
        box-shadow: $shadow;
        transition: all 300ms ease;
        @media screen and (max-width: 1200px) {
          width: 84vw;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
          margin: 0;
        }

        td {
          height: 2.8rem;
          border-bottom: 1px solid $colorLight;
          color: $darkVariant;
        }
        tbody {
          td:first-child,
          :last-child {
            @media screen and (max-width: 1200px) {
              display: none;
            }
          }
        }
        thead {
          th:first-child {
            @media screen and (max-width: 1200px) {
              display: none;
            }
          }
        }

        tr:last-child {
          td {
            border: none;
          }
        }
      }
      table:hover {
        box-shadow: none;
      }
      a {
        display: block;
        text-align: center;
        margin: 1rem auto;
        color: $colorPrimary;
      }
    }
  }
  .end {
    margin-top: 1.4rem;
    @media screen and (max-width: 768px) {
      width: 94%;
      margin: 0 auto 4rem;
    }
    .top {
      display: flex;
      justify-content: end;
      gap: 2rem;
      @media screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem $colorLight;
        background-color: $white;
      }

      button {
        display: none;
        @media screen and (max-width: 768px) {
          display: inline-block;
          background: transparent;
          border: none;
          color: $colorDark;
          cursor: pointer;
          position: absolute;
          left: 1rem;
        }
        span {
          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }
        }
      }
      .toggler {
        background-color: $colorLight;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.6rem;
        width: 4.2rem;
        cursor: pointer;
        border-radius: 0.4rem;
        @media screen and (max-width: 768px) {
          width: 4.4rem;
          position: absolute;
          left: 66%;
        }
        span {
          font-size: 1.2rem;
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .active {
          background-color: $colorPrimary;
          color: $white;
          border-radius: 0.4rem;
        }
      }
      .profile {
        display: flex;
        gap: 2rem;
        text-align: right;
        .info {
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
    }
    .recentUpdates {
      margin-top: 1rem;
      h2 {
        margin-bottom: 0.8rem;
      }
      .notifications {
        background-color: $white;
        padding: $cardPadding;
        border-radius: $cardBorderRadius;
        box-shadow: $shadow;
        transition: all 300ms ease;
        .update {
          display: grid;
          grid-template-columns: 2.6rem auto;
          gap: 1rem;
          margin-bottom: 1rem;
        }
      }
      .notifications:hover {
        box-shadow: none;
      }
    }
    .salesAnalytics {
      margin-top: 2rem;
      h2 {
        margin-bottom: 0.8rem;
      }
      > div {
        background-color: $white;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.7rem;
        padding: 1.4rem $cardPadding;
        border-radius: 1.2rem;
        box-shadow: $shadow;
        transition: all 300ms ease;
        .side {
          display: flex;
          justify-content: space-between;
          align-items: start;
          margin: 0;
          width: 100%;
        }
        .icon {
          color: $white;
          border-radius: 50%;
          background-color: $colorPrimary;
          padding: 0.6rem;
          display: flex;
        }
      }
      > div:hover {
        box-shadow: none;
      }
      .offline {
        .icon {
          background-color: $colorDanger;
        }
      }
      .customers {
        .icon {
          background-color: $colorSucccess;
        }
      }
      .addproduct {
        background-color: transparent;
        border: 2px dashed $colorPrimary;
        color: $colorPrimary;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          h3 {
            font-weight: 600;
          }
        }
      }
      .addproduct:hover{
          background-color: $colorPrimary;
          color: $white;
      }
    }
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
}
