@import "./variables";
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
body{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 0.88rem;
  background-color: $background;
  overflow-x: hidden;
  .container{
      display: grid;
    
      margin: 0 auto;
      width: 96%;
      grid-template-columns: 14rem auto 23rem;
  }
  a{
      color: $colorDark;
  }
  img{
      width: 100%;
  }
  h1{
      font-weight: 800;
      font-size: 1.8rem;
  }
  h2{
      font-size: 1.4rem;
  }
  h3{
      font-size: 0.87rem;
      font-weight: 500;
  }
  h4{
      font-size: 0.8rem;
  }
  h5{
      font-size: 0.77rem;
  }
  small{
      font-size: 0.75rem;
  }
aside{
    height: 100vh;
    .topbar{
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.4rem;
        div:first-child{
            display: flex;
            gap: 0.8rem;
        }
        div:nth-child(2){
            display: none;
        }
        img{
            width: 2rem;
            height: 2rem;
        }
    }
    .sidebar{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 86vh;
        position: relative;
        top: 3rem;
        a{
            display: flex;
            color: $infoDark;
            gap: 1rem;
            align-items: center;
            height: 3.7rem;
            margin-left: 2rem;
            // position: relative;
            transition: all 300ms ease;
            span{
                font-size: 1.6rem;
            }
            
        }
        a:last-child{
            margin-top: 8rem;
        }
        a.active{
            background-color: $colorLight;
            color: $colorPrimary;
            margin-left: 0;
            span{
                color: $colorPrimary;
            }
        }
        a.active::before{
            content: '';
            width: 6px;
            height: 100%;
            background-color: $colorPrimary;
        }
       
    }
}

}